/* Пути */
$img-path: "../img";

/* Ширины макета */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

/* Ширины контента */
$mobile-content-width: 260px;
$tablet-content-width: 668px;
$desktop-content-width: 1050px;


/* Цвета */
$primary-color: tomato;
$color-white: white;
$color-black: black;
